[2018-02-04 03:53] gfaidley opened #1 "Error when getting battery"
Hi Joe,

First off thank you for creating this utility and the home kit one!

I'm wondering if something may have changed with what carwings is returning when the battery is quarried.  When I run the battery command I get the following:

[code]
I'm brand new to the go language so have not dug into the source yet.  I'll try to take a look and see if there is anything obvious.

Thanks in advance
Gal

[2018-02-04 15:53] joeshaw commented on #1
I will take a look at it soon, in the meantime you can set `Debug = true` in the source and it’ll dump out the responses from the server. That’ll be the easiest way to figure out what’s going on.

It looks like the API is sending `""` when we expect `"0"` or `null`. I suspect it’s some minor difference between our accounts.

[2018-02-04 15:54] joeshaw commented on #1
specifically, here: https://github.com/joeshaw/carwings/blob/master/carwings.go#L39

[2018-02-04 21:21] gfaidley commented on #1
Thanks for getting back to me.  Here are the results with the debug flag set to true:

[code]

Is the error on the BatteryRemainingAmountWH and BatteryRemainingAmountkWH that are returning "" ?

[2018-02-04 21:57] #1 closed

[2018-02-04 21:57] joeshaw commented on #1
Should be fixed now, please give it a try.  Thank you for the report!

[2018-02-05 02:29] gfaidley commented on #1
Thank for the quick fix.  I'm not sure what the etiquette is on commenting here or creating a new issue but there is another problem.  Looks like maybe a float to an int conversion:

[code]

[2018-02-05 03:08] gfaidley commented on #1
I have implemented a fix.  At first I changed those values to floats everywhere but I realized that breaks you API so casting to an int earlier seemed more appropriate.

Let me see if I can figure out pull requests.  In case I can't here is the code:

Line 509 & 510
[code]

[2018-02-05 13:06] gfaidley commented on #1
Just realized I only sent half of the change.
Lines 482 & 3

[code]

[2018-02-05 14:59] joeshaw commented on #1
Ugh, this API...

I think using `json.Number` is a better way to address it, because it will take either `float64` or `int`.  I appreciate your digging on this, I will take a look later today.

[2018-02-06 00:27] gfaidley commented on #1
Thanks, sounds good.  This is the first I've ever even looked at Go (I hard to search for what a float was called) but that does seem more versatile.

I did find another issue too.  The battery percentage is always zero.  Looking at the code it looks like there should be a json field for that but that appears missing in what is returned from my car.  The official Nissan app does display a percenta

[2018-02-06 00:35] gfaidley commented on #1
Here is a nicer formatted version of what is retuned:

[code]

[2018-02-06 01:01] joeshaw commented on #1
Just out of curiosity, what region do you live in, and what model year leaf do you have?

[2018-02-06 01:50] gfaidley commented on #1
I'm in NNA (Illinois to be exact) .  The car is a 2013 that I just had upgraded to the 3G radio (it originally had the 2G that was shut off a year ago).  I assume you have a newer one?

At first glance I seem to be getting pretty much the same responses as the "Get Cached Vehicle Status" listed here:
https://github.com/joshperry/carwings/blob/master/protocol.markdown

[2018-02-09 04:27] gfaidley commented on #1
I had a few minutes to work on this tonight.  I just overrode the state of charge with a value calculated by dividing the  Amount Remaining by the Capacity.  If I knew anything about go or JSON processing in go I imagine it would be fairly easy to put a conditional on if that field exists.

I also I found so more information about this.  It appears as though the 2016 added the more accurate SOC.
h

[2018-02-09 14:59] joeshaw commented on #1
Ah, wonderful! Thank you for digging into this.  Indeed, I have a 2017 model.

I may not be able to get to this week, but I won't let it drop off my radar.

And it's my pleasure!  I now use Homekit to turn on the heater constantly, at every chance I get 😄

[2018-02-09 15:18] joeshaw commented on #1
Welp, I was able to sneak some time in to fix it now and it was pretty straightforward.  Let me know if you run into any more issues!

[2018-02-15 02:24] gfaidley commented on #1
Hi Joe, I finally got a minute to work on this again tonight.  I may have misunderstood something but did you fix the percent charge issue?  I think I pulled down the latest and it seems to behave the same.  Looking through the code I also didn't see anything that would indicate it was changed (I could have missed it however).

[2018-02-15 13:41] joeshaw commented on #1
No, I missed the percent charge issue.  I will look into that.

[2018-02-16 02:05] gfaidley commented on #1
No worries.  Here is the code I used when I hacked it in.  I was not sure how to test if a value had come from the json file or not.  I'm also not sure how go deals with division of ints so I may have some casts I don't need.  The + 0.5 is to make this the equivalent of rounding (rather than truncating).  From my googling go just added rounding support.

`StateOfCharge:      int( float64(batrec.Ba

[2018-03-27 02:34] joeshaw commented on #1
@gfaidley I had forgotten about this, but I just pushed a fix for the percentage thing.  Since Go 1.10 is out now I used `math.Round()` but it's otherwise the same as yours.

[2018-05-15 02:35] gfaidley commented on #1
Hi Joe, Thanks for getting around to this. I'll give it a go.  CarWings had stopped working on my car for a month and I didn't have time to debug it.  It magically started working again so I can test this now.

[2018-05-30 14:49] NickWallbridge opened #2 "Getting Login Error"
Was working fine for a week or so, then 48 hours ago (28-May-2018) started getting:

Research suggest this maybe a non-JSON response to the login, but I don't know enough to debug. ConnectEV and YOU+Nissan are working, so I think the service is up.

[2018-05-30 14:55] joeshaw commented on #2
I've been seeing some weird behavior lately too, I will take a look.

In the meantime, you can get additional detail by passing a `-debug` flag, which will print out all the HTTP communication it does with Nissan's servers.  Just note that credentials may be included in this output (particularly when logging in) so review things carefully, but that output would be helpful in tracking things down.

[2018-05-30 15:17] NickWallbridge commented on #2
Thanks for the quick response. Here is the debug output:

[2018-05-30 15:19] NickWallbridge commented on #2
Sorry closed the issue by accident

[2018-05-30 15:26] joeshaw commented on #2
Looks like the API has changed:

https://github.com/gboudreau/nissan-connect-php/issues/18
https://gist.github.com/BenWoodford/141ca350445e994e69a70aabfb6db942

I will look into updating things.

[2018-05-30 15:55] NickWallbridge commented on #2
Thanks. Happy to test/confirm when you have an update.

[2018-05-30 18:50] joeshaw commented on #2
@NickWallbridge In what country are you located?

[2018-05-30 19:02] #2 closed

[2018-05-30 19:03] joeshaw commented on #2
https://github.com/jdhorne/pycarwings2/issues/35#issuecomment-393255266 had the clue needed -- a new API endpoint URL.

There is still a new API available, but it appears to only be available for North America (and possibly Japan) but not Europe yet.  I'll file a new bug about implementing that.

[2018-05-30 19:07] joeshaw opened #3 "New Carwings API"
There is a new Carwings API available for North American (and possibly Japanese) vehicles.  It is not yet available in Europe.

More info:

Issue #2
https://github.com/jdhorne/pycarwings2/issues/35#issuecomment-393255266
https://github.com/gboudreau/nissan-connect-php/issues/18
https://gist.github.com/BenWoodford/141ca350445e994e69a70aabfb6db942

[2018-05-30 22:12] NickWallbridge commented on #2
@joeshaw I am in the United Kingdom, so maybe a problem for me?

[2018-05-30 22:19] NickWallbridge commented on #3
@joeshaw Can you do a compile that uses the URL (https://gdcportalgw.its-mo.com/api_v180117_NE/gdc/) that works for region NE? I don't know "Go" at all and my initial attempt to recompile from source failed. Thanks.

[2018-05-31 09:38] NickWallbridge commented on #3
Did a "get" this morning and you appear to have implemented the new URL. All is working again for me using region "NE" from the UK. Thank you.

[2018-05-31 13:01] joeshaw commented on #3
@BenWoodford on Twitter thinks that the new API may never come to EU Leafs: https://twitter.com/IrregularExpr/status/1001902994110271490

[2018-08-04 20:13] karora opened #4 "Incorrect encrypted password value for 8 character password (INVALID PARAMS)"
I'm trying to use this from Ireland, where I see the following response:

[code]

Aside from the bug in their JSON response where they return a string "-2010" rather than a number, I'm not sure what the valid parms might be.

I've also tried using `-region EU` or `-region NE` (after I looked at the code a bit :-)

I'm keen to help out where I can.

Thanks,
Andrew.

[2018-08-06 14:48] joeshaw commented on #4
As I understand it, `-region NE` is what you need in Europe.  Do you get the same `INVALID PARAMS` error with that?

[2018-08-06 14:49] joeshaw commented on #4
Another possibility: you may want to try your username (rather than your email address) despite the `-email` flag -- I have read that for some people they are different things?

[2018-08-06 15:45] karora commented on #4
Thanks for your response.  Yes, I've tried using "NE" for the region, as well as using my username instead of the email address: I get the same `INVALID PARAMS` response regardless.

[2018-08-06 17:33] joeshaw commented on #4
Could you try changing the `baseURL` in the code to `https://gdcportalgw.its-mo.com/gworchest_160803A/gdc/` and `https://gdcportalgw.its-mo.com/gworchest_160803EC/gdc/` and let me know if either works?

[2018-08-07 11:45] karora commented on #4
OK, the issue seems to be with the encryption of the password.  My password was 8 characters - exactly the same size as a Blowfish chunk - but when I changed it to a 10 character password the encrypted values match between the two libraries and I am now able to get past the login :-)

So I shall retitle this issue to indicate the underlying problem with the password encryption.

[2018-08-07 11:55] joeshaw commented on #4
Wow! Thank you for the excellent detective work. I will look into fixing this.

[2018-08-07 12:57] karora commented on #4
Just thought I'd see what happened if padding was always applied, and it matches what the PHP code does in that case.

This comment might indicate the thinking behind OpenSSL's behaviour on this one:
https://stackoverflow.com/questions/41181905/php-mcrypt-encrypt-to-openssl-encrypt-and-openssl-zero-padding-problems

Presumably the server-side PHP is also using openssl libraries, so it gets this be

[2018-08-07 13:17] #4 closed

[2018-08-07 18:55] karora opened #6 "Run from saved configuration, save session between runs"
Looks like we've both been doing the same thing today... :-)

After I figured the last issue I decided to add support for a configuration file and for saving of sessions, which means that my config file is different to your config file :-/

I'd obviously prefer if you chose to use my configuration setup because it allows for setting more than just username/password (I also wanted to save region an

[2018-08-07 19:27] joeshaw commented on #6
Ha!  So we have. 😄

I just took a quick look at your changes and they look good.  I have concerns about the changes to the login response -- I think we might need to handle both formats because my login response still looks like the old format.

I like that you added region and units to the config file.  I meant to add region there this morning and forgot about it.

I will try to devote some time

[2018-08-07 19:28] joeshaw commented on #6
And for my own reference, these changes are in https://github.com/karora/carwings/tree/master

[2018-08-07 19:44] karora commented on #6
For further information, my login response looks like this:

[code]

[2018-08-07 21:08] karora commented on #6
I've added a commit now which handles re-connecting if the session file is invalid and the request fails thereby.

[2018-08-09 16:19] karora commented on #6
It seems from this commit https://gitlab.com/tobiaswkjeldsen/dartcarwings/commit/9652b70fa9820e96e4e2704004d8233e6b71cf91

That the difference in structures is due to 1st gen / later gen leaf (mine is a 2015 model).

[2018-08-09 16:34] karora commented on #6
I've added a commit now which should dynamically handle either style of login response, but I've no easy way of testing whether that works for you of course :-)

[2018-08-13 18:32] joeshaw commented on #6
@karora Cool, thanks!  I will test these things out when I get a chance -- I may not have time for a few days.

[2018-12-23 16:04] Wobbley commented on #3
Anyone know if this endpoint has changed for Europe as well now? (NE)

I have a custom app since the Nissan EV app literally dosen't work for Android 9 (Pie). It stopped working a day or two ago and I see the endpoint is retrieving a 404.

[2019-01-12 04:57] gfaidley opened #8 "Json error on status"
I'm not sure if this is related to issue #3 or not but I'm getting an error when running status.  This is on an 2013 SL in North America.

[output.txt](https://github.com/joeshaw/carwings/files/2751703/output.txt)

[2019-01-13 01:38] gfaidley commented on #8
Thanks for looking into this.

Yes, this is on update.  I wonder if this is because the older models LEAFs do not report a battery percentage (just the bars).  We talked about that a bit on issue  https://github.com/joeshaw/carwings/issues/1#issuecomment-363267920 I'm not sure that was ever resolved.  It used to report just a 0 but now maybe it's what's causing the issue?

 I'm having a differ iss

[2019-01-13 02:09] joeshaw commented on #8
I fixed the battery percentage issue from #1, so this isn't that.

Nissan has changed things lately which have broken a lot of carwings libraries.  [Some other people](https://github.com/BenWoodford/pycarwings2/commit/1170caf2482b9fbf275e867f55472479197a4660#commitcomment-31894791) have gotten the `{"status":408}` message, but I am not sure what is causing it or how to fix it.

[2019-01-17 18:08] joeshaw commented on #8
@gfaidley if you're comfortable editing the Go code, can you try changing the [base URL](https://github.com/joeshaw/carwings/blob/master/carwings.go#L21) to `https://gdcportalgw.its-mo.com/gworchest_160803EC/gdc/` and see if that fixes the 408 error?

Other people report that that URL works for them, but I thought it was only in Europe.

[2019-01-18 02:54] gfaidley commented on #8
@joeshaw that seems to have fixed things!  Often times the update command times out before the update is received but eventually it comes through.  Please let me know if there is any other testing I can do to help with this.

[2019-02-13 09:51] nigelm opened #10 "Stale session?"
Sometimes I get a 408 status return from carwings:-

    $ carwings update
    Logging into Carwings...
    Requesting update from Carwings...
    ERROR: received status code 408

Repeating the command will give the same result.
Deleting the `~/.carwings-session` file allows the next invocation to work.

Will explore this more when I next see it.  I am using the NE region.

[2019-02-14 18:44] Tobiaswk commented on #3
@joeshaw Do you know if US users still can use the old API that is used in Europe?

[2019-02-14 21:50] joeshaw commented on #3
@tobiaswk yes. it works for me, and that’s all this library implements at the moment.

[2019-02-19 18:29] joeshaw commented on #10
Error 408 is typically "Request Timeout" -- I suspect if you changed [this line](https://github.com/joeshaw/carwings/blob/master/carwings.go#L393) from `case http.StatusUnauthorized:` to `case http.StatusUnauthorized, http.StatusRequestTimeout:` that might be enough for the CLI to realize it needs to log in again.

[2019-02-19 20:16] nigelm commented on #10
Seems like a reasonable approach.  I have seen this 408 a couple more times.  But if a longer period has elapsed between the previous carwings use and then then it appears to re-authenticate OK.

I have put your suggested fix in place for now - see if it works.

[2019-03-07 12:19] matthewbloch opened #11 ""update" polling seems to miss an actual update arriving"
I've been using carwings to poll my car every hour & log its battery level.

Quite often it times out (in Europe at least), and I'm used to the actual service being unreliable.

But does this debug log show carwings missing an actual update when the service was working as expected? I've not looked at the protocol but it looks like it polls and the TargetDate parameters changes from 12:06 to 12:09,

[2019-03-07 15:22] joeshaw commented on #11
I suspect that you're right that it's a time zone bug, though that _should_ be accounted for.

If you're comfortable editing the Go code, it would be helpful to add a debug print right before https://github.com/joeshaw/carwings/blob/master/carwings.go#L651

Something like this would help:

[code]

[2019-03-07 16:34] matthewbloch commented on #11
Thanks for the pointer Joe – if it looks like a client bug to you I’ll take a look in the next couple of days and see if I can turn it into a PR.
I’d have a go now but Nissan is returning 408s to everything, so I’ll try again later 😊

[2019-03-07 16:52] joeshaw commented on #11
Heh, take a look at #10 for the 408 issue.  I think I have a fix for that but I haven't gotten around to apply it yet.

[2019-03-11 18:36] #10 closed

[2019-03-11 18:39] joeshaw commented on #8
@gfaidley Just coming back to this, can you confirm which (or both, or neither) API works for you?  I know you're in North America, can you let me know which year Leaf you have?

[2019-03-11 18:54] joeshaw commented on #11
Ok, it's not a time zone issue.  It is an issue with your update being so early in a minute (4 seconds in from your output), your car updating very quickly, and the fact that the API only updates with minute resolution.  So your car updates in the same minute as you ran the command, and it looks like it happened in the past.  I have a fix for this, I'll push it.

[2019-03-11 19:01] #11 closed

[2019-04-17 00:42] gfaidley commented on #8
@joeshaw sorry been away from this a long time.  I have a 2013 (with the modem upgrade).  Let me try to do some testing.  I did have to reach out to Nissan as even the official app was not working.  They were able to fix that (or it coincidently started working around the same time).

[2019-05-13 07:44] lezoid opened #12 "panic: runtime error: index out of range"
panic: runtime error: index out of range
Japan 2018 model (40kwh / ZE1 type).

UserLoginRequest.phpHTTP200, and it looks like the value is returned successfully.
The same error occurs even if you delete the URL option.

Is it related to issues #3 and #8?

[code]

[2019-06-03 18:37] Tobiaswk commented on #3
It looks like a new app for european users has been released on Google Play; https://play.google.com/store/apps/details?id=eu.nissan.nissanconnect.services

I'm not sure if this app is only for Nissan Leaf E+ but I am not able to use it with a Nissan Leaf 2018 second generation vehicle. Maybe we have to go though the initial vehicle registration phase a second time?

I have looked at the app binar

[2019-06-04 01:24] #12 closed

[2019-06-04 01:24] joeshaw commented on #12
Thanks for the report!  It looks like yet another variation in the `VehicleInfo` information in a response.  I just pushed some code which should fix the issue.

[2019-06-04 01:35] joeshaw commented on #3
A new issue might be good, as the login stuff makes it seem like a pretty different API at first glance.

I'm going to need someone else to do the heavy lifting on reverse engineering the API, as I am in the US, don't have Android, and don't have a Leaf E+.  I'll look around for some other resources for it, however.

[2019-06-04 10:29] Tobiaswk commented on #3
No worries! I just wanted to post it here in this discussion to shed some light on it.

fyi I'm the developer of the app My Leaf and the dartcarwings library ;)

[2019-06-04 11:29] joeshaw commented on #3
Oh, of course! I recognize your name now. Thanks again for letting me know about the new app and (maybe) API

[2019-06-08 19:10] joeshaw commented on #8
I'm going to close this out, since it was about the JSON error which should now be fixed.  Please open a new issue if you are still seeing issues.

[2019-06-08 19:10] #8 closed

[2019-07-03 15:57] nigelm opened #13 "Units issue in monthly report"
The daily efficiency figure in the monthly report is incorrect - I think it is reporting in units of "10Wh/mile" rather than "kWh/mile"

Example day output:-
[code]

That last line I think should have "0.236 kWh/mile" (or the truncated form of it).

However there is likely some general reworking of the report lines in there - I may have a go at reworking it when I get a little time.

[2019-07-03 16:09] joeshaw commented on #13
I would appreciate help on this.  The daily and monthly driving stats have never worked for me.  (In any app, not just this one.)

[2019-07-08 14:07] #13 closed

[2019-07-16 08:59] Tobiaswk commented on #3
I've created a Dart client library for North American API tracked here. It supports most of the features the API offers but not all yet; https://github.com/Tobiaswk/dartnissanconnectna
I suppose someone can use it as a reference and make a python implementation.

Just wanted to put that out for anyone interested! ;)

[2019-07-30 07:50] nigelm opened #15 "Europe API endpoints no longer available"
Looks like the European API endpoints that were being used have been withdrawn:-

[code]

[2019-07-30 08:45] nigelm commented on #15
If you grab the changes from https://gitlab.com/tobiaswkjeldsen/carwingsflutter/commit/76bd35f0bc888c54c2f001ee3d79b4e12e957754 then login works, but things fail later...

[2019-07-31 18:18] joeshaw commented on #15
This is affecting me in the US as well, thanks for the heads up.

[2019-07-31 18:47] #15 closed

[2019-07-31 18:48] joeshaw opened #16 "Locate vehicle not working after API updates"
Late July API update (reflected in 1d31d1a) broke the vehicle location API.

[code]

I haven't found an alternative yet.

[2019-07-31 18:49] joeshaw commented on #15
Thanks, I just pushed a fix for this.  This API update also broke vehicle location functionality... I haven't been able to find an alternative for that, and I'm tracking it in #16.

[2019-07-31 21:17] howartp84 commented on #3
Following.

I'm trying to make use of / update / enhance pycarwings2 to support UK 2019 Leafs (including mine!).

I'm taking over the www.indigodomo.com Home Automation plugin for Leaf, originally written by @JDHorne but abandoned at the same time abandoned the pycarwings2 project.

[2019-08-04 07:08] kristenungdom opened #17 "NE Region throwing error"
Since the 19th of July, the NE region has been broken, the update did not help in this case.

[code]

[2019-08-04 07:09] #17 closed

[2019-09-04 10:37] hardcordaniel opened #19 "Monthly statistics show incorrect daily summary with unit being kWh/100km"
Example:

  Trips on 2019-09-02 Monday
    07:49   37.1 km  11.5 kWh/100km     4.3 kWh
    17:32   36.9 km  13.5 kWh/100km     5.0 kWh
          ============ ============== ============
            74.0 km   0.1 kWh/100km     9.2 kWh

The total consumption per 100km is not correct. I think its this line in the code:

efficiency := (power / metersToUnits(cfg.units, distance)) / 1000

which is wrong

[2019-09-09 16:13] joeshaw commented on #19
Unfortunately I also don't know how to handle this -- this feature has never worked for me.  (I get empty results from the server whenever I made this request)

If you could attach the output from the API by running with `-debug` (be careful to scrub sensitive information) that might help me decode the API better.

Also cc @nigelm who most recently worked on this feature.

[2019-09-11 13:15] stelian42 commented on #16
I don't believe there is an alternative, Nissan reportedly removed this in order to "comply" with the European GPRD regulations...

[2019-09-11 13:36] stelian42 commented on #19
Interestingly, my "ms.EfficiencyScale" is "kWh/km". So the total is correct, but on the other side I found that the resolution of the display is too big: I locally modified the %5.1f into %7.3f for Efficiency in order to have something more readable.

We need to either parse EfficiencyScale or find the way to have a consistent unit but I have no idea where the kWh/km versus kWh/100km come from...

[2019-09-11 13:39] nigelm commented on #19
I'll have a look at this, but unfortunately won't be for a few days due to other commitments.

It will also need to be at a time when I'm not getting errors back from the API due to Nissan having issues - `ERROR: json: invalid use of ,string struct tag, trying to unmarshal "" into int`

[2019-09-11 14:00] joeshaw commented on #19
Given my previous experience with this API, I'd say this is probably not an operational issue on the API side but rather just sloppy implementation.  In other places we have to work around the lax types in this API (a side effect of it being written in PHP, and a downside to using Go for this sort of thing).

We might need to do the same thing here: defining that field as `json.RawMessage` and pok

[2019-09-14 16:41] nigelm commented on #19
So the `ElectricCostScale`  (which becomes the `EfficiencyScale`) can have at least three different values:-

- `kWh/mile` - this is what I see in the UK
- `kWh/km` - as seen by @stelian42
- `kWh/100km` - as seen by @hardcordaniel

I guess we need to change the efficiency calculation dependant on that (which can be done by having a branch for the last option, and the existing calculation for the o

[2019-09-14 16:43] stelian42 commented on #19
It would also be nice to have a config option for choosing the preferred format: I for one would like to have the results in kWh/100km, just like the car dashboard shows...

[2019-09-14 21:24] stelian42 commented on #19
I've implemented the config option in #21 , I'm not sure if this also fixes the OP issue, please check.

[2019-09-15 19:43] stelian42 commented on #19
I've added a commit to #21 which I believe it fixes the OP issue.

[2019-09-17 14:05] joeshaw commented on #19
Fixed in #21

[2019-09-17 14:05] #19 closed

[2019-09-30 12:48] Todd1561 opened #23 "-2010 (INVALID PARAMS)"
I just started using this a couple days ago and it was working fine for me in the US but using the "NE" region code.  Now starting yesterday I'm getting this error when trying to perform an update.

`ERROR: received status code -2010 (INVALID PARAMS)`

However, if I place the program in debug mode it seems to be getting the proper JSON data back but keeps looping the same request over and over aga

[2019-09-30 13:17] joeshaw commented on #23
Could you try setting the environment variable `BROKEN_BATTERY_CHECK=1` and run the `carwings update` command again?

Back in December 2018 Nissan broke the API used to check for battery status, and I had to add a hacky workaround that checks the `UpdateStatus` timestamp in the JSON response.  If it hasn't updated for a minute the command times out.  Maybe that timeout needs to be longer, or maybe

[2019-09-30 13:20] joeshaw commented on #23
Another thing to check: Is the `NotificationDateAndTime` in the right timezone for you? In your pasted JSON it is `2019/09/30 12:23` -- that should be in local time.
Switching the region might affect your time zone, as would your system's local timezone.

[2019-09-30 13:21] joeshaw commented on #23
I can reproduce the -2010 status code when I try to use the `NE` region for my US car.  There's probably not anything I can fix there.

[2019-09-30 13:27] Todd1561 commented on #23
OK, does that mean there's effectively no way to use this program in the US?  My understanding was our only option was to use the Euro region code because of changes they made to the US API that haven't been implemented here.

[2019-09-30 13:33] joeshaw commented on #23
US should work fine, that's what I've been using.  They have instituted a new API that the US Nissan app uses, and which I haven't implemented, but the old API has continued to work.

The API in general is pretty flaky -- while trying to investigate your issue I saw an update timeout as well, but I just re-ran it now and it worked.  I wish I had a better explanation, but the Nissan service for thi

[2019-09-30 13:41] joeshaw commented on #23
I just ran some more tests and it looks like they fixed the key-based battery status checks, which should improve reliability.  I will add a commit to remove the workaround and hopefully that'll improve reliability for you.

[2019-09-30 13:43] Todd1561 commented on #23
Awesome, thanks for looking into this so quickly!  I'll try it out and let you know.

[2019-09-30 14:02] #23 closed

[2019-09-30 14:03] joeshaw commented on #23
Oop, merging the pull request auto-closed this.  @Todd1561 can you try this out and let me know if it behaves better for you?

[2019-09-30 14:09] Todd1561 commented on #23
I'm still getting the timeout with either the NE or NNA region.  So the -2010 error seems to be gone, so that's different.  Just to clarify, should I be specifying the NE region or just using the default NNA US region?  Thanks!

[2019-09-30 14:22] joeshaw commented on #23
Since you're in the US, try the `NNA` region.  You could also try setting the `-timeout` flag to something longer than `60s`.  `carwings -timeout 5m update` perhaps.

[2019-09-30 14:27] Todd1561 commented on #23
OK thanks.  Are we sure this an API issue?  When I run in debug mode I see your program initiating the same call over and over again.  Each time there seems to be valid JSON data coming back (e.g. I can see my valid current SOC in the response).  So presumably the API is sending information but I'm wondering if it's not what your program is expecting and therefore you re-run the request.  But I'm

[2019-09-30 14:51] joeshaw commented on #23
The way the API is designed is that the program makes an initial API request to update the car, and it gets back a "key".  The program then has to make another API call to ask about the status of the key, so this is what you're seeing repeated in the debug output.  Once the update has finished, the API says, "ok, I finished updating."  So the flow looks like this:

Client: I'd like to update batte

[2019-09-30 15:53] Todd1561 commented on #23
Oh OK, thanks for the thorough explanation, that makes sense. I do have the car in a garage at the moment, but the Nissan Mobile app has never had an issue pulling data.  I tried extending the timeout to 5 minutes but still no go.  You can keep the issue closed, seems like it's some oddity on my end.

Thanks again for looking into it

[2019-09-30 18:06] joeshaw commented on #23
@Todd1561 What model and year do you have?  I wonder if it's something to do with 2nd generation cars (2018 or newer)

[2019-09-30 18:54] Todd1561 commented on #23
It's a 2019 SV, 40 kW battery

[2019-10-02 03:21] Todd1561 commented on #23
It's looking to me like the newer cars need to use the new API that has a base URL of https://icm.infinitiusa.com/NissanLeafProd/rest/.  After reviewing some of the other API projects I started using this one (handily linked on your project page): https://github.com/Tobiaswk/dartnissanconnectna and it's been working great for me.  This appears to be the only one that implements the new USA API.  S

[2019-11-07 09:44] gr0mit1 opened #26 "additional parameters to battery status"
Hi Joe
I've managed to get carwings running and the debug gives me the following info from the Leaf:
20a
{"status":200,"VoltLabel":{"HighVolt":"240","LowVolt":"120"},"BatteryStatusRecords":{"OperationResult":"START","OperationDateAndTime":"2019\/11\/07 09:41","BatteryStatus":{"BatteryChargingStatus":"NOT_CHARGING","BatteryCapacity":"240","BatteryRemainingAmount":"240","BatteryRemainingAmountWH":"3

[2019-11-07 13:11] nigelm commented on #26
Just out of interest, what type of Leaf do you have, and which country are you in (or more correctly, which API region are you using)?

[2019-11-07 15:41] gr0mit1 commented on #26
Hi Nigel
I have a Nissan Leaf 40kWh 2018 and am in the UK.

My commandline is:

pi@emonpi:~/go/bin $ ./carwings -username username -password topsecret
-region NE -debug server

Iwonder if the odometer reading is buried somewhere as well.  That would be quite cool to extract...

[2019-11-07 16:06] nigelm commented on #26
OK, thats the same as I am working with.  I'll attempt to have a look when I get a chance (not that that should stop anyone else with an interest to go digging).

[2019-11-12 20:15] nigelm opened #27 "Timed climate control"
I'd like to implement the scheduled start of climate control (you can tell its getting colder here!).

The additional API calls required can be plagerised from https://gitlab.com/tobiaswkjeldsen/dartcarwings

So then the commands need to be created.  The `climate-on` command could be reused - if it has a timespec added then it i scheduled rather than immediate.  However I am tending more towards `

[2019-11-18 15:27] joeshaw commented on #27
I am happy with `climate-on-at` (and I guess `climate-on-status` an `climate-on-cancel`) if you are.

One question I have is whether people want to turn their climate on at a specific time, or at some time in the future?  For the latter we could use Go's built-in `time.Duration` type, so you could say, `climate-on-at 30m` to turn it on in 30 minutes.  Maybe both should be supported.

I'm not aware

[2019-11-18 15:30] joeshaw commented on #27
A couple potential options:

https://github.com/olebedev/when
https://github.com/bcampbell/fuzzytime

I haven't looked at transitive dependencies, but I'd like to keep them as minimal as possible.

[2019-12-02 10:12] karora commented on #27
I've used https://github.com/araddon/dateparse in other places and it seems to do a pretty good job.

[2019-12-16 17:28] karora opened #29 "Wrong stop time displayed in some circumstances"
Nissan is very confused about my timezone, so this sort of thing seems to happen in a few places.

In my Carwings configuration file I have my timezone set to "Europe/Dublin" but it's not being used when I request `carwings climate`:

[code]

The output is:
[code]

But of course it will stop at `2019-12-16 19:09:00 +0000 Europe/Dublin`

I'll try and work out a patch...

[2020-01-28 13:58] gitrago opened #31 "server endpoints"
When running in server mode, what endpoints are exposed? I found `http://server:8040/battery` by chance, are there any others?

[2020-01-28 15:13] joeshaw commented on #31
Yeah, sorry, I threw that together pretty quickly and never documented it properly.

The endpoints are

[code]

The POST requests have no body.

[2020-01-30 15:20] gitrago commented on #31
Thank you very much. Slightly off-topic but I'll ask you anyway:
My understanding is that a charging session **can** be initiated remotely via the API but it can **not** be stopped, car is charging until SoC=100. On the other hand, a discharge (v2x) **can not** be started remotely on a connected car. Is this true and do you know where to confirm this?

[2020-01-30 15:37] joeshaw commented on #31
That's my understanding as well, based on the APIs available.

I don't know anything about this.  I have a 2017 and have only implemented the older "Carwings" API, which doesn't have any discharge feature.  Do you have a link or reference to it?

[2020-01-30 20:15] gitrago commented on #31
No, unfortunately I don't. We have a Leaf 2018 and in theory it supports
v2x. I am at a loss as for where to find documentation on it. CHAdeMO
website maybe?

On Thu, Jan 30, 2020 at 4:37 PM Joe Shaw <notifications@github.com> wrote:

[2020-01-30 20:53] joeshaw commented on #31
Ah, I wasn't familiar with what v2x is.  Just read up on it, looks neat.

I am very doubtful there is API for this -- I imagine the discharging is something that the v2x-capable hardware would initiate through the CHAdeMO connection.

[2020-04-04 16:05] andig opened #32 "Enhance api to not require Filename"
I would like to use this to support the Leaf as part of https://github.com/andig/evcc. It would be nice if the api could work without supplying the Filename. I‘d like to maintain all session data internally without relying on external files.

[2020-09-24 09:50] lezoid opened #33 "ERROR: vehicle info unavailable"
ERROR: vehicle info unavailable
Japan 2018 model (40kwh / ZE1 type).

EndPointAPI:NML(Japan)

The JP2018 model leaf is experiencing behavior that appears to be a failure of json analysis.
Since json is returning a normal response, it seems that the json parsing is not working.

Here is the output of the debug.
#Tokens and unique codes are replaced with dummy strings.

[code]

[2020-09-24 15:05] joeshaw commented on #33
Thank you for the debug output.  This is yet another variation in how some vehicles are presented through the API at login.  It looks like your vehicle information is provided in the `CustomerInfo` stanza of the JSON, whereas on mine there is a `vehicleInfoList` stanza and on others it is simply `vehicleInfo`.

I will attempt to fix it soon.

[2020-09-25 00:24] lezoid commented on #33
Thank you for your reply!
Does the JSON format of the Japanese model Leaf differ from the Western model? I'm curious.

Do you need JSON values for the other APIs in the Japanese Model Leaf?
If necessary, I will give you the results I got by hitting the API directly.

[2020-12-07 15:43] #33 closed

[2020-12-07 15:43] joeshaw commented on #33
I just pushed a fix for this, sorry about the delay.

[2020-12-07 15:45] joeshaw commented on #26
this was fixed by #28, not sure why github didn't autoclose it.

[2020-12-07 15:45] #26 closed

[2020-12-07 15:48] #16 closed

[2020-12-07 15:54] #31 closed

[2020-12-07 15:55] joeshaw commented on #31
I've added some documentation to the README about server mode.  I don't think there's any other action to take on this, so I'm closing it out.

[2020-12-07 15:55] joeshaw commented on #29
@karora Were you able to get this sorted out?  Is there anything that needs to be done on our side?

[2020-12-07 22:42] karora commented on #29
It's so long, and I started a new job today so I'm going to be snowed under for the foreseeable future.  Let's just close it, and if it annoys me again in the future I'll re-open with a patch... :-)

[2020-12-07 22:42] #29 closed

[2020-12-07 22:44] joeshaw commented on #29
Congrats on the new gig.  Cheers!

[2020-12-26 17:19] joeshaw commented on #3
I've implemented part of the new API in my new joeshaw/leaf repository.  I decided to make a clean break from the current repo.

[2020-12-26 19:44] nigelm opened #34 "December 2020 Update to EU App/Servers Breaks Authentication"
There was an update on 15 December of the IOS NissanConnect EV App - their changelog had:-

It looks like that broke user authentication - although I am currently working on a new laptop which did not have a working app on prior to trying this.

Debug looks like this (I have changed the identifiable bits but think those are irrelevant to the error)

    Logging into Carwings...
    POST https://gd

[2020-12-26 20:52] joeshaw commented on #34
Yeah, I see the same problem. Unfortunately the US app uses a different API and so i can’t do any reverse engineering on it myself. I implemented the new API in https://github.com/joeshaw/leaf but if I can find a fix for this repo I’ll update it.

[2021-01-06 19:49] bebettecamb commented on #34
I took a dump to see if it wasn't just a change of url and I could identify it and it looks to be exchanging data with this server: ec2-54-199-141-237.ap-northeast-1.compute.amazonaws.com

This is quite beyond my technical level but I'm wondering if this isn't a completely new thing, not just a fix...

[2021-02-05 21:06] maku1604 commented on #34
Hello,
I was using this lib in europe (germany) to get the SOC of our 2018 Leaf ZE1 into the evcc tool (https://github.com/andig/evcc).
I get the same error and debug log as @nigelm above.
Additionally I tried to access the data through the myleaf android app (https://gitlab.com/tobiaswkjeldsen/carwingsflutter) and it is still working. Access in that app is handled through a dart library (https://

[2021-02-06 15:08] maku1604 commented on #34
I also checked pycarwings2 (https://github.com/filcole/pycarwings2) and it was getting access and I will now compare the protocol to see if I can spot the differences.

[2021-02-06 15:32] joeshaw commented on #34
@maku1604 i appreciate the effort, thank you!

[2021-02-07 20:42] joeshaw commented on #34
I just gave pycarwings2 a try, and it's not working for me.  I get `INVALID_PARAMS` there also.

[2021-02-07 20:49] nigelm commented on #34
I also found pycarwings2 did not work for me around the time I originally raised the issue. Not had a chance to retest recently but will do when I get a chance.

[2021-02-08 19:31] maku1604 commented on #34
Hmm, pycarwings is working for me here in germany. Here is a log with anonymous login data and including http headers:
[pycarwings2.log](https://github.com/joeshaw/carwings/files/5946293/pycarwings2.log)
I also tried the newer API url 200413 and the result is the same.
I now try to change the postform request in carwings.go func apiRequest with more generic http.NewRequest("POST" method to gather

[2021-02-08 20:01] joeshaw commented on #34
@maku1604 if you run `carwings` with the `-debug` flag, it will print out the raw HTTP requests and responses, so you can see if there are differences in how requests are being serialized and compare them to the pycarwings2 ones.

[2021-02-08 20:03] joeshaw commented on #34
@maku1604 your log looks like it still contained some unredacted info, so I deleted the comment.  The rest of your comment is below.

[2021-02-08 20:35] maku1604 commented on #34
Thanks for removing the file. I put some more effort into cleaning it up this time:
[pycarwings2.log](https://github.com/joeshaw/carwings/files/5946649/pycarwings2.log)

[2021-02-08 20:51] maku1604 commented on #34
@joeshaw  I tried that before, but it shows only the response headers but not the request headers like user-agent, mime-type etc. I added the differences in post params compared to pycarwings2 to carwings.go, but it still resulted in the same error. Therefor I wanted to check next if it is caused by a difference in the request headers.

[2021-02-08 21:31] joeshaw commented on #34
Ah, right you are.  I forgot that I'm just calling `PostForm` rather than constructing the request manually.  It should be pretty straightforward to change that to construct a request, dump the request, and post it.  I'll make that change now.

[2021-02-08 21:43] joeshaw commented on #34
Ok, I did a little poking around and the server seems to dislike the old User-Agent we were sending (`Go-http-client/1.1`) so I've added code to remove it altogether and it seems "happier" in the sense that I still get `INVALID_PARAMS` but the error code is different.  Perhaps it'll work for you now as well as pycarwings2 does.  (But still doesn't for me, in the USA.)

Commit dacfdd3

[2021-02-09 20:51] maku1604 commented on #34
@joeshaw, Yes, it is working again for me in europe now with your change. Thank you!
One thing I noticed was, that you are polling the battery status quite frequently until it arrives at the nissan backend.
Perhaps the user agent was blacklisted because it created to much load on the backend servers to tolerate it from Nissan and you could increase the cycle time a bit?
Regarding the USA access, h

[2021-02-09 22:27] joeshaw commented on #34
@maku1604 The CLI is making a request every 3 seconds.  I mean, I hope their servers can sustain the load of 0.3 RPS from a single client.  (And their API is designed to start a request and poll the request, so there should be very little overhead to this request... it's not like it's going all the way to the vehicle.)

That said, if the requests are always taking at least 10 seconds, I'm fine to

[2021-04-30 19:44] #3 closed

[2021-04-30 19:45] joeshaw commented on #34
Was fixed in dacfdd3.

[2021-04-30 19:45] #34 closed

[2021-05-01 08:25] andig commented on #3
@joeshaw I have a Nissan implementation in Go at https://github.com/andig/evcc/blob/master/internal/vehicle/nissan.go. If there's anything you need to pick for https://github.com/joeshaw/leaf I'd be happy to switch over to your new module again.

[2021-05-04 20:10] joeshaw commented on #3
@andig This is the Europe API, correct?  Any idea if it works in other regions?  (USA, Japan)

[2021-05-05 15:53] andig commented on #3
It's Europe. If you have credentials for outside I could give it a quick try (pm me at cpuidle@gmx.de).

[2021-05-12 17:12] avleen opened #35 "INVALID PARAMS again in EU"
I know this was recently addressed in #34 , something seems fishy again. I'm not sure if it's me, although I'm not trying to do anything complicated.

Setup:
New docker container, Go 1.15.12

[code]

Happy to do lots of debugging and digging, just not sure where to start :)

[2021-05-30 10:38] andig opened #36 "Treat HTTP 404 as ErrNotLoggedIn"
Seems that the API will sometimes return 404 if not logged in which would currently result in

    received status code %d

[2021-06-01 16:13] jrester opened #37 "BatteryStatus() fails because BatteryRemainingAmountWH is an empty string"
### Error
When calling `BatteryStatus` the function returns an error with the message `ERROR: json: invalid use of ,string struct tag, trying to unmarshal "" into int`. This happens because the `BatteryRemainingAmountWH` field of the response for my nissan leaf is an empty string which cannot be parsed to an valid integer.

### Response
I am receiving this response:
[code]

### Possible Fix

A pos

[2021-06-01 17:29] joeshaw commented on #37
@jrester thanks for the report, I'll look into this.  Could you tell me what model year Leaf you have, and what region of the world you're in?

[2021-06-02 10:36] jrester commented on #37
It is from year 2012 type ZE0 and i am from Europe.

[2021-06-10 14:58] joeshaw commented on #36
Can you attach a payload when this occurs?  I'm curious if there is any additional info or context from the body of the response that might be helpful.

[2021-06-10 15:24] andig commented on #36
Unfortunately not- I've just found this in user-contributed logfile during testing. I won't be able to reproduce that.

[2021-06-16 19:18] andig commented on #36
I can actually repro this now. If I do an api request without prior connect it will try to login without the baseParam being set. That in turn gives a 404. It's user error, but not entirely obvious.

[2021-06-16 19:21] andig opened #39 "Use BatteryStatusCheckResultRequest result"
BatteryStatusCheckResultRequest will actually return the refreshed battery status. Currently that's discarded instead of just being returned to the caller. It would be a breaking change though to modify this.

[2021-06-16 19:31] andig commented on #39
Nvm. While it does have some data, the needed soc is not contained.

[2021-06-16 19:31] #39 closed

[2021-06-29 13:06] #37 closed

[2021-10-02 12:20] mstoebe commented on #35
I got the exact same problem today. Anything new about this?

[2021-10-02 19:27] mstoebe commented on #35
Had a closer look a the code this afternoon but all I Could find is that the login request to carwings fails with this error code. But I couldn't find out what causes the error. The passed params seem quite reasonable to me... :/ No idea how to find out what's going on here.

[2021-10-02 19:35] joeshaw commented on #35
No, sorry. I am not in Europe or Japan so I don't have access to the apps or APIs used in those regions. Unless someone else in those regions reverse engineers the differences, I won't be able to fix things.

[2021-10-02 19:45] mstoebe commented on #35
Ok, thanks. Then I will try to find out more.

[2021-10-02 20:25] mstoebe commented on #35
Doesn't look to good.

A quick look in the app package reveals that the original nissan app sends data to several trackers (firebase, google and one more). I checked the http requests from the app with Proxyman on the iPhone and it seems, they completely changed the API, not only the baseURL. It seems they are using oauth now and are talking to a set of subdomains within the domain kamereon.io. So

[2021-10-02 21:43] andig commented on #35
Carwings has long since been replaced by a new API. If anybody is interested, I've implemented the relevant parts as part of https://github.com/evcc-io/evcc/ in Go based on https://github.com/Tobiaswk/dartnissanconnect

[2021-10-03 08:08] Ez2517-Git commented on #35
Just to be sure, when you talk about 'replaced API', are you still talking about the older ZE1 which uses the 'Nissan EV' app ? Or the newer model (afaik from 04/2019) which uses the NissanConnect app ?
I have the older one and I am using pycarwings2 from my smart home.  Since some time, only 1 out of 4 or 5 requests ends successfully. But apparently they didn't completely switch off the carwings

[2021-10-03 08:38] andig commented on #35
I‘m talking about NissanConnect. Sorry for the confusion. I.e. replaced was referring to newer cars no longer using carwings.

[2021-10-03 09:23] mstoebe commented on #35
Ah, didn't know that. That might be the reason why EVCC can see and read my Leaf (MY21) while the carwings lib can't. Now that I look at it again I notice the vehicle/nissan directory next to the carwings.go file... ;) so maybe there is hope after all.

[2021-10-12 16:27] joeshaw commented on #35
@andig Hmm, ok, I don't understand the compatibility matrix then.  All I know for certain that it doesn't work with any US vehicles.

If the kamereon.io API works for all EU vehicles, it's probably the right way forward.  You've gotta assume that this API is going to break for everyone at some point.

In any case, I don't have an EU vehicle so I am flying blind in this respect.  I can take patches

[2021-10-19 10:22] divenal opened #42 "incorrect trip efficiency in monthly stats"
Hi, as a new Leaf driver, I'm quite interested in tracking efficiency. (I live at the top of a short but steep hill, which shows up quite dramatically in the figures for short outbound vs return trips.)  The individual trip efficiencies look wrong, though the daily summary is fine.  I'm in the UK, using miles as units.  Eg
[code]
1.9kWh for 10 miles clearly ought to be 0.19kWh/mile yet it reports

[2021-10-28 08:57] divenal opened #44 "daily report misinterprets energy numbers"
The output from the 'daily' command seems to misinterpret some of the fields. Eg.

[code]

(Acceleration - Regeneration) is far in excess of the 30kWh capacity of the car, and of the expected usage for a 30-mile trip. When I display the same data using the official Nissan app, the 268.1 figure is Wh per mile, so they're actually efficiency numbers rather than usage numbers. (268.1 - 81.6 + 17.6)Wh

[2022-01-22 19:05] #42 closed

[2022-02-25 13:44] coolchip opened #45 "Battery SOC is always 1%"
Hello. First many, many thanks for your work. This is a really great module!

With my Nissan Leaf 2015 I've a problem when reading the Battery SOC. I always get 1%.

'''carwings -username xxxx -password xxxx -region NE -debug battery'''

results in:

`{"status":200,"BatteryStatusRecords":{"OperationResult":"START","OperationDateAndTime":"2022\/02\/25 13:16","BatteryStatus":{"BatteryChargingStatus"

[2022-02-25 15:10] joeshaw commented on #45
Haha oops!  Right you are on the math.

I don't have a precise answer for this, but my experience leads me to believe that older model years do not report the exact percentage, just the number of bars remaining and bars of capacity.  I'm not sure exactly where the cutoff is, but as a datapoint my 2017 Leaf reported the percentage.

Thanks for the report, I'll fix it shortly.

[2022-02-25 15:15] #45 closed

[2022-02-25 15:15] andig commented on #45
Any Leaf I've seen sofar hat "SoC" afaikt- is yours somehow special?

[2022-02-25 15:17] joeshaw commented on #45
The calculation was added in https://github.com/joeshaw/carwings/commit/472119c9bec7a301de32a479399072b3e8cdca49, and the commit message says that pre-2016 models don't report SOC.  Not sure if that's 100% accurate though.

[2022-02-25 15:19] joeshaw commented on #45
More context: https://github.com/joeshaw/carwings/issues/1#issuecomment-364331721

[2022-02-25 16:39] coolchip commented on #45
Thats possible. I own an 2015'er model

[2022-02-28 07:38] coolchip commented on #45
Thank you @joeshaw for that quick fix.